/* importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
/*
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');
*/

* {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            
  }
  
#recIcon {
   border: 4px dotted beige;
   background: rgba(225,10,205,0.7);
   filter: brightness(80%);
   /*padding: 4vh;*/
   position: relative;
   /*top: 2.5vh;*/
   top: 18px;
   height: 34px;
   width: 34px;
   border-radius: 15px;
   display: inline-block;
   margin: 0;
   padding: 0;
   /*
   border-radius: 50%; //aka "circle-crop" radius (as you like to call it), ie a border 50% of the size of the image --- 48px / 2, in this case
   */
}

.mikeAnim:hover, .mikeAnim:active {
    animation: borderDance 1s infinite;
   -webkit-animation: borderDance 1s infinite;
   /*animation-delay: 0s;
   -webkit-animation-delay: 0s;*/
}

@keyframes borderDance {
	0, 60%, 100% {
		border-radius: 50%;
		filter: brightness(80%);
		-webkit-transform: translateX(0);
        transform: translateX(0);
        /*top: 18px;*/
	}
	50% {
		border-radius: 12.5%;
		filter: brightness(40%);
		-webkit-transform: translateX(16px);
        transform: translateX(16px);
        /*top: 9px;*/
	}
}

@-webkit-keyframes borderDance {
	0, 60%, 100% {
		border-radius: 50%;
		filter: brightness(80%);
		-webkit-transform: translateX(0);
        transform: translateX(0);
	}
	50% {
		border-radius: 12.5%;
		filter: brightness(40%);
		-webkit-transform: translateX(16px);
        transform: translateX(16px);
	}
}

.hvr-sink {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#time {
  position: absolute;
  text-align: center;
  font-family: 'Caesar Dressing', cursive;
  /*font-family: 'Nosifer', cursive;*/
  border: 1px solid rgba(0,0,0,0.8);
  padding: 4px;
  box-shadow: 0 2px 5px 0 rgba(2, 2, 2, 0.5);
  border-radius: 40px 8px 48px 4px;
  /*background:linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,0,1));*/
  background: linear-gradient(to right, darkcyan, seagreen, #444);
  color: #fff;
  /*height: 4.8vh;
  width: 11.2vh;*/
  height: 32px;
  width: 80px;
  top: 8px;
  right: 20px;
  /*default prop for its color:   color: black;    */
 }
 
  /*
 #time:active {
   color: lightgray;
 }
 */
 
 input {
  margin: 0 5px ;
  padding: 0 0 0 10px;
  letter-spacing: 0.7px;
  outline: none;
  border: 3px solid rgba(225, 0,125, 0.4);
  height: 48px;
  border-radius: 35px 5px;
  width: 75%;
  background: rgba(45,100,100, 0.3);
  color: rgba(225,225,225,0.7);
  font-family: 'Creepster', helvetica;
 }
 
 input::placeholder {
     color: rgba(225,225,220,0.7);
 }
 
  #searchInput:active {
   /*background-color: rgba(205,165, 0, 0.4);*/
   background-color: rgba(108, 0, 32, 0.4);
 }
 
 h2 {
  font-size: 42px;
  font-family: 'Gloria Hallelujah', sans-serif;
  font-weight: 800; /* bold */
  color: rgba(225,225,225,0.7);
  text-align: center;
  text-shadow: 3px 2px 2px seagreen;
  padding: 25px;
  margin: 45px 25px 25px 25px;
  /*
  border: 9px dotted darkgray;
  border-radius: 40px 1px 30px;
  background: rgba(34,223,76,0.2);
  */
 }
 
 #message {
  padding: 25px;
  border-radius: 32px 16px 32px;
  /*background: linear-gradient(to right, rgba(0,255,0,0.4), rgba(0,255,204,0.6));*/
  /*background: linear-gradient(to right, darkcyan, seagreen, #444);*/
  background: linear-gradient(to right, rgba(170, 51, 106, 0.7), rgba(46, 139, 87, 1));
  /*color: white;*/
  /* color:rgba(255,0,0,0.9); */ /*use it if you want black font-color for #message */
  box-shadow: 0 2px 5px 0 rgba(2, 2, 2, 0.5);
  text-align: left;
  height: 50%;
  width: 60%;
  color: rgba(225,225,220,0.9);
  font-size: 20px;
  font-family: 'Gloria Hallelujah', sans-serif;
  margin-top: 25px;
  margin-left: 11%;
  letter-spacing: 2px;
  line-height: 1.5em;
  /*line-spacing;
  word-spacing;
  overflow;*/
 }
 
  #message:hover {
   cursor: default;
 }
 
 .container {
     display: block;
     align-content: left;
     margin: 5% 0 0 10%;
 }
 
  button {
 /* box-shadow: 1px 4px 5px 1px rgba(30,30,30,0.3);*/
  font-family: 'Caesar Dressing', cursive;
  width: 20%;
  height: 40px;
  border-radius: 35px 7px 70px 28px;
  background: rgba(46, 46, 116, 0.5);
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px dotted;
  outline-color: rgba(225, 225, 125, 0.5);
  /*outline-color: rgba(255, 255, 255, 0.5);*/
  /*outline-color: mediumvioletred;*/
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  color: #fff;
 }
 
 button:hover {
   cursor: pointer;
   border: 1px solid;
   box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
   outline: 1px solid;
   outline-color: rgba(255, 55, 25, 0.7);
   /*outline-color: rgba(255, 255, 255, 0);*/
   outline-offset: 10px;
   text-shadow: 1px 1px 2px #427388; 
   color: plum;
 }
 
 button:active {
   color: aqua;
 }
  
 a {
     cursor: pointer;
     color: hotpink;
 }
 
 body {
   /* background: linear-gradient(to right, rgba(0,255,255,0.4), rgba(40,180,1650,0.6)); */
      background-image: url("../images/backgrounds/bg.jpg");
      /* background-position: center; */
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;  
      animation: changeBg 150s infinite;
      -webkit-animation: changeBg 150s infinite;
      animation-delay: 5s;
      -webkit-animation-delay: 5s;
 }
 
 @keyframes changeBg {
 0%, 100% {
      background-image: url("../images/backgrounds/bg.jpg");
    } 20% {
      background-image: url("../images/backgrounds/1.jpg");
    } 40% {
      background-image: url("../images/backgrounds/2.jpg");
    } 60% {
    	background-image: url("../images/backgrounds/3.jpg");
    } 80% {
    	background-image: url("../images/backgrounds/4.jpg");
    }
}

@-webkit-keyframes changeBg { 
 0%, 100% {
      background-image: url("../images/backgrounds/bg.jpg");
    } 20% {
      background-image: url("../images/backgrounds/1.jpg");
    } 40% {
      background-image: url("../images/backgrounds/2.jpg");
    } 60% {
    	background-image: url("../images/backgrounds/3.jpg");
    } 80% {
    	background-image: url("../images/backgrounds/4.jpg");
    }
}
 
 /* if the device's maximum width is 500px, set padding for the body to 8px */
 @media screen and (max-width: 500px) {
   body {
     padding: 8px;
   }
 }
 /* Snackbar section */
 /* start */
 #snackbar {
   visibility: hidden;
   min-width: 250px;
   margin-left: -125px;
   background: linear-gradient(to right, #67032f, chocolate, transparent);
   /*background: linear-gradient(to right, #67032f, pink, transparent);*/
   border: 4px dotted aliceblue;
   color: #fff;
   text-align: center;
   border-radius: 82px 0px;
   padding: 16px;
   position: fixed;
   z-index: 1;
   left: 50%;
   bottom: 30px;
   font-size: 17px;
   animation: snackAnim .5s infinite;
   -webkit-animation: snackAnim .5s infinite;
 }
 
 @keyframes snackAnim {
 	from {
 	    background: linear-gradient(to right, #67032f, chocolate, transparent);
     } to {
     	background: linear-gradient(to right, #67032f, pink, transparent);
     }
 }
 
 @-webkit-keyframes snackAnim {
 	0%, 100% {
 	    background: linear-gradient(to right, #67032f, chocolate, transparent);
     } 50% {
     	background: linear-gradient(to right, #67032f, pink, transparent);
     }
 }
 
 #snackbar.show {
   visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
 }
 
 @-webkit-keyframes fadein {
   from {bottom: 0; opacity: 0;} 
   to {bottom: 30px; opacity: 1;}
 }
 
 @keyframes fadein {
   from {bottom: 0; opacity: 0;}
   to {bottom: 30px; opacity: 1;}
 }
 
 @-webkit-keyframes fadeout {
   from {bottom: 30px; opacity: 1;} 
   to {bottom: 0; opacity: 0;}
 }
 
 @keyframes fadeout {
   from {bottom: 30px; opacity: 1;}
   to {bottom: 0; opacity: 0;}
 }
 /* end */
 
 .navbar-container {
   width: 55%;
   position: absolute;
   display: inline;
   margin-left: 8px;
 }

 /* if screen width is greater than 768px (which is equal to 8 in), set navbar's width to 25% */
 @media screen and (min-width: 768px) {
  .navbar-container {
    width: 30%;
  }
}
 
 .menu-toggler {
   display: none;
 }
 
 .menu-toggler-label {
   cursor: pointer;
   font-size: 32px;
   width: 80%;
   font-weight: bold;
   color: white;
   border: 2px solid gray;
   background-color: rgba(149, 53, 83, 0.9);
   border-radius: 8px;
   padding: 0 10px 0;
 }
 
 .stagger-menu {
   background: linear-gradient(to right, rgba(149, 53, 83, 0.7), transparent);
   border-radius: 3px;
   list-style-type: none;
   -webkit-list-style-type: none;
   -moz-list-style-type: none;
   margin: 6px 0;
   padding: 0;
 }
 
 .stagger-menu li {
   cursor: pointer;
   color: white;
   margin-bottom: 8px;
   font-size: 18px;
   opacity: 0;
   transform: translateX(100%);
   -webkit-transform: translateX(100%);
   transition-property: opacity, transform;
   -webkit-transition-property: opacity, transform;
   -moz-transition-property: opacity, transform;
   transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -moz-transition-property: opacity, transform;
   transition-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);
   -webkit-transition-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);
   -moz-transition-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);
 }

 .stagger-menu li:hover {
   color: gold;
   background: linear-gradient(to right, teal, transparent);
 }
 
 .menu-toggler:checked ~ .stagger-menu li {
   opacity: 1;
   transform: translateX(0);
   -webkit-transform: translateX(0);
   -moz-transform: translateX(0);
   transition-delay: calc(0.055s * var(--i));
   -webkit-ransition-delay: calc(0.055s * var(--i));
   -moz-ransition-delay: calc(0.055s * var(--i));
 }
 
 .hover-shadow-box-animation {
   display: inline-block;
   vertical-align: middle;
   transform: perspective(1px) translateZ(0);
   -webkit-transform: perspective(1px) translateZ(0);
   -moz-transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px transparent;
   -webkit-box-shadow: 0 0 1px transparent;
   -moz-box-shadow: 0 0 1px transparent;
   margin: 10px;
   transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -moz-transition-duration: 0.3s;
   transition-property: box-shadow, transform;
   -webkit-transition-property: box-shadow, transform;
   -moz-transition-property: box-shadow, transform;
 }
 
 .hover-shadow-box-animation:hover,
 .hover-shadow-box-animation:focus,
 .hover-shadow-box-animation:active {
   box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
   -webkit-box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
   -moz-box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
   transform: scale(1.2) rotate(-5deg);
   -webkit-transform: scale(1.2) rotate(-5deg);
   -moz-transform: scale(1.2) rotate(-5deg);
 }
 
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
#recIcon {
height: 42px;
width: 42px;
top: 1.5vh;
}
}

.thought {
  background-color:#fff;
  padding:20px;
  border-radius:30px;
  min-width:40px;
  max-width:220px;
  min-height:40px;
  margin:20px;
  position:relative;
  align-items:center;
  justify-content:center;
  -webkit-justify-content:center;
  -moz-justify-content:center;
  text-align:center;
}

.thought:before,
.thought:after {
  content:"";
  background-color:#fff;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:-1;
}

.thought:before {
  width:44px;
  height:44px;
  top:-12px;
  left:28px;
  box-shadow:-50px 30px 0 -12px #fff;
  -webkit-box-shadow:-50px 30px 0 -12px #fff;
  -moz-box-shadow:-50px 30px 0 -12px #fff;
}

.thought:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 #fff,
             -28px -6px 0 -2px #fff,
             -24px 17px 0 -6px #fff,
             -5px 25px 0 -10px #fff;
 -webkit-box-shadow:40px -34px 0 0 #fff,
             -28px -6px 0 -2px #fff,
             -24px 17px 0 -6px #fff,
             -5px 25px 0 -10px #fff;
 -moz-box-shadow:40px -34px 0 0 #fff,
             -28px -6px 0 -2px #fff,
             -24px 17px 0 -6px #fff,
             -5px 25px 0 -10px #fff;
}

/* @media screen and (min-width: 1024px) {
#recIcon {
height: 48px;
width: 48px;
}
} */


/* bubbles */
.bubbles-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 15rem;
  transform: translateX(-50%);
  opacity: 0.75;
  overflow: visible;
  z-index: -9999;
}

.bubbles {
  width: 100%;
  height: auto;
}
.bubbles circle {
  stroke: white;
  fill: none;
}
.bubbles > g > g:nth-of-type(3n) circle {
  stroke: #87f5fb;
}
.bubbles > g > g:nth-of-type(4n) circle {
  stroke: #8be8cb;
}

.bubbles-large {
  overflow: visible;
}
.bubbles-large > g {
  transform: translateY(2048px);
  opacity: 0;
  will-change: transform, opacity;
}
.bubbles-large g:nth-of-type(1) {
  -webkit-animation: up 6.5s infinite;
               animation: up 6.5s infinite;
}
.bubbles-large g:nth-of-type(1) g {
  transform: translateX(350px);
}
.bubbles-large g:nth-of-type(1) circle {
  -webkit-animation: wobble 3s infinite ease-in-out;
          animation: wobble 3s infinite ease-in-out;
}
.bubbles-large g:nth-of-type(2) {
  -webkit-animation: up 5.25s 250ms infinite;
               animation: up 5.25s 250ms infinite;
}
.bubbles-large g:nth-of-type(2) g {
  transform: translateX(450px);
}
.bubbles-large g:nth-of-type(2) circle {
  -webkit-animation: wobble 3s infinite ease-in-out;
              animation: wobble 3s infinite ease-in-out;
}
.bubbles-large g:nth-of-type(3) {
  -webkit-animation: up 6s 750ms infinite;
          animation: up 6s 750ms infinite;
}
.bubbles-large g:nth-of-type(3) g {
  transform: translateX(700px);
}
.bubbles-large g:nth-of-type(3) circle {
  -webkit-animation: wobble 3s infinite ease-in-out;
               animation: wobble 3s infinite ease-in-out;
}
.bubbles-large g:nth-of-type(4) {
  -webkit-animation: up 5.5s 1.5s infinite;
               animation: up 5.5s 1.5s infinite;
}
.bubbles-large g:nth-of-type(4) g {
  transform: translateX(500px);
}
.bubbles-large g:nth-of-type(4) circle {
  -webkit-animation: wobble 3s infinite ease-in-out;
              animation: wobble 3s infinite ease-in-out;
}
.bubbles-large g:nth-of-type(5) {
  -webkit-animation: up 6.5s 4s infinite;
               animation: up 6.5s 4s infinite;
}
.bubbles-large g:nth-of-type(5) g {
  transform: translateX(675px);
}
.bubbles-large g:nth-of-type(5) circle {
  -webkit-animation: wobble 3s infinite ease-in-out;
          animation: wobble 3s infinite ease-in-out;
}

.bubbles-small {
  overflow: visible;
}
.bubbles-small > g {
  transform: translateY(2048px);
  opacity: 0;
  will-change: transform, opacity;
}
.bubbles-small g circle {
  transform: scale(0);
}
.bubbles-small g:nth-of-type(1) {
  -webkit-animation: up 5.25s infinite;
          animation: up 5.25s infinite;
}
.bubbles-small g:nth-of-type(1) g {
  transform: translateX(350px);
}
.bubbles-small g:nth-of-type(1) circle {
  -webkit-animation: wobble 3s infinite ease-in-out;
          animation: wobble 3s infinite ease-in-out;
}
.bubbles-small g:nth-of-type(2) {
  -webkit-animation: up 5.75s infinite;
          animation: up 5.75s infinite;
}
.bubbles-small g:nth-of-type(2) g {
  transform: translateX(750px);
}
.bubbles-small g:nth-of-type(2) circle {
  -webkit-animation: wobble 3s infinite ease-in-out;
          animation: wobble 3s infinite ease-in-out;
}
.bubbles-small g:nth-of-type(3) {
  -webkit-animation: up 5.25s 250ms infinite;
          animation: up 5.25s 250ms infinite;
}
.bubbles-small g:nth-of-type(3) g {
  transform: translateX(350px);
}
.bubbles-small g:nth-of-type(3) circle {
  -webkit-animation: wobble 3s 250ms infinite ease-in-out;
          animation: wobble 3s 250ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(4) {
  -webkit-animation: up 5.75s 325ms infinite;
          animation: up 5.75s 325ms infinite;
}
.bubbles-small g:nth-of-type(4) g {
  transform: translateX(180px);
}
.bubbles-small g:nth-of-type(4) circle {
  -webkit-animation: wobble 3s 325ms infinite ease-in-out;
          animation: wobble 3s 325ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(5) {
  -webkit-animation: up 6s 125ms infinite;
          animation: up 6s 125ms infinite;
}
.bubbles-small g:nth-of-type(5) g {
  transform: translateX(350px);
}
.bubbles-small g:nth-of-type(5) circle {
  -webkit-animation: wobble 3s 250ms infinite ease-in-out;
          animation: wobble 3s 250ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(6) {
  -webkit-animation: up 5.13s 250ms infinite;
          animation: up 5.13s 250ms infinite;
}
.bubbles-small g:nth-of-type(6) g {
  transform: translateX(650px);
}
.bubbles-small g:nth-of-type(6) circle {
  -webkit-animation: wobble 3s 125ms infinite ease-in-out;
          animation: wobble 3s 125ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(7) {
  -webkit-animation: up 6.25s 350ms infinite;
          animation: up 6.25s 350ms infinite;
}
.bubbles-small g:nth-of-type(7) g {
  transform: translateX(480px);
}
.bubbles-small g:nth-of-type(7) circle {
  -webkit-animation: wobble 3s 325ms infinite ease-in-out;
          animation: wobble 3s 325ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(8) {
  -webkit-animation: up 7s 200ms infinite;
          animation: up 7s 200ms infinite;
}
.bubbles-small g:nth-of-type(8) g {
  transform: translateX(330px);
}
.bubbles-small g:nth-of-type(8) circle {
  -webkit-animation: wobble 3s 325ms infinite ease-in-out;
          animation: wobble 3s 325ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(9) {
  -webkit-animation: up 6.25s 233ms infinite;
          animation: up 6.25s 233ms infinite;
}
.bubbles-small g:nth-of-type(9) g {
  transform: translateX(230px);
}
.bubbles-small g:nth-of-type(9) circle {
  -webkit-animation: wobble 3s 275ms infinite ease-in-out;
          animation: wobble 3s 275ms infinite ease-in-out;
}
.bubbles-small g:nth-of-type(10) {
  -webkit-animation: up 6s 900ms infinite;
          animation: up 6s 900ms infinite;
}
.bubbles-small g:nth-of-type(10) g {
  transform: translateX(730px);
}
.bubbles-small g:nth-of-type(10) circle {
  -webkit-animation: wobble 2s 905ms infinite ease-in-out;
          animation: wobble 2s 905ms infinite ease-in-out;
}

@-webkit-keyframes wobble {
  33% {
    transform: translateX(-50px);
  }
  66% {
    transform: translateX(50px);
  }
}

@keyframes wobble {
  33% {
    transform: translateX(-50px);
  }
  66% {
    transform: translateX(50px);
  }
}
@-webkit-keyframes up {
  0% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1024px);
  }
}
@keyframes up {
  0% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1024px);
  }
}

.blink {
    	color: white;
    	animation: blink 1s 6;
        animation-iteration-count: 6;
        -webkit-animation: blink 1s;
        -webkit-animation-iteration-count: 6;
        -moz-animation-iteration-count: 6;
    }
    
    @keyframes blink {
    	from { color: white;}
        to { color: #f00;}
      }
      @-webkit-keyframes blink {
    	from { color: white;}
        to { color: #f00;}
      }
      
.blink-2 {
	    color: white;
    	animation: blink-2 .25s 4;
        animation-iteration-count: 4;
        -webkit-animation: blink-2 .25s;
        -webkit-animation-iteration-count: 4;
        -moz-animation-iteration-count: 4;
}

@keyframes blink-2 {
    	from { color: white;}
        to { color: darkred;}
      }
      @-webkit-keyframes blink-2 {
    	from { color: white;}
        to { color: darkred;}
      }